#main_canvas {
    width: 40em;
    height: 40em;
    border: 0.5em solid #000000;
    grid-column: 1;
    grid-row: 1;
}
#score_canvas {
    width: 20em;
    height: 20em;
    border: 0.5em solid #000000;
    grid-row: 1;
    grid-column: 1;
}
#main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#info {
    display: grid;
    grid-column: 2;
    grid-row: 1;
}
#mode_button {
    grid-column: 1;
    grid-row: 2;
}
#mapa_button {
    grid-column: 1;
    grid-row: 3;
}
button {
    color: #A16395;
    background: #231F20;
}
